.region-content {
  width: 90%;
}

#frontend-iframe {
  border-top-left-radius: var(--gin-border-m);
  border-top-right-radius: var(--gin-border-m);
  width: 100%;
}

#frontend-iframe-button {
  margin-left: 1.5em;
}
